@page "/hand"

@using BPData
@using BPData.Lists;
@using BPData.Models;
@using BPData.Services;

<!--services-->
@inject DeckService DeckSvc
@inject EvalService EvalService
@inject GameService GameSvc

<table align="center">
    <tr>
        <td>
            <span><image src="cards/check2_no.png"></image></span>
        </td>
        @foreach (Card card in player.Hand)
        {
        <td>
            <HandCard DiscardHeight="@DiscardHeight" DiscardWidth="@DiscardWidth" CardHeight="@CardHeight" CardWidth="@CardWidth" player="@player" card="@card" me="@me" alwaysshow="@alwaysshow" />
        </td>
        }
    <td>
        @if (player.HandRank.Winner)
        {
            <span><image src="cards/check2.png"></image></span>
        }
        else
        {
            <span><image src="cards/check2_no.png"></image></span>
        }
        <font face="arial" color="white">@player.Wins</font>
    </td>
    </tr>
   
</table>

@if (player.Name == me.Name || alwaysshow || GameSvc.State == BPData.BPConstants.GS_Draw)
{
    <div align="center">
        <font face="arial" color="white">@player.HandRank.FullName</font>
    </div>
}


@code {

    [Parameter]
    public Player player { get; set; }

    [Parameter]
    public Player me { get; set; }

    [Parameter]
    public bool alwaysshow { get; set; }

    [Parameter]
    public string CardHeight { get; set; }

    [Parameter]
    public string CardWidth { get; set; }

    [Parameter]
    public string DiscardHeight { get; set; }

    [Parameter]
    public string DiscardWidth { get; set; }


    protected override void OnInitialized()
    {
        //cardheight = "95";
        //cardwidth = "60";
    }
 }
