@page "/"
@using BPData
@using BPData.Lists;
@using BPData.Models;
@using BPData.Services;

<!--Game code-behind-->
@inherits IndexBase
<!--services-->
@inject DeckService DeckSvc
@inject EvalService EvalService
@inject GameService GameSvc

@if (GameSvc == null || GameSvc.State == BPData.BPConstants.GS_PreGame ||
      GameSvc.State == BPData.BPConstants.GS_WaitForPlayers)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (Player p in GameSvc.GetPlayers())
    {
        <Hand player="@p" alwaysshow="@AlwaysShow" me="@me"></Hand>
        <br />
    }

    <br />
    <button disabled="@DisableDiscard" class="btn btn-primary" @onclick="Discard">Discard</button>
    <span>&nbsp;</span>
    <button disabled="@DisableDraw" class="btn btn-primary" @onclick="Draw">Draw</button>
    <span>&nbsp;</span>
    <button class="btn btn-primary" @onclick="NewGame">New Game!</button>

    <br /><br />
    <img src="/table.png" />
    <div style="background-image:url(@TableImage);height:100%;background-position:center;background-repeat:no-repeat;background-size:cover;">
    </div>
}

@code {

    //we do code-behind here :) see IndexBase

}
